{% extends "base.html" %}

{% load static %}

{% block title %}Carrito{% endblock %}

{% block content %}
<h2>Carrito</h2>
{% if playlists %}
    <table class="table table-striped table-hover">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Precio</th>
            <th>Eliminar</th>
        </tr>
        {% for item in playlists %}
        <tr>
            <td><img src="{{ item.image.url }}" class="song-image" ></td>
            <td>{{ item.name }}</td>
            <td>{{ item.genre }}</td>
            <td>{{ item.price }}€</td>
            <td><a href="{% url 'remove_from_cart' pk=item.pk %}"><button class="generic-button">Eliminar</button></a></td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>Total: {{ total }}€</td>
            <td><a href="{% url 'checkout' %}"><button class="generic-button">Revisar</button></a></td>
            <td><a href="{% url 'empty_cart' %}"><button class="generic-button">Vaciar carrito</button></a></td>
        </tr>
    </table>
{% else %}
    <p>No hay productos en el carrito</p>
{% endif %}


{% endblock %}