{% extends "base.html" %}

{% load static %}

{% block title %}Pago{% endblock %}

{% block content %}
<h2>Pago</h2>
{% if playlists %}
    <table class="table table-striped table-hover">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Precio</th>
        </tr>
        {% for item in playlists %}
        <tr>
            <td><img src="{{ item.image.url }}" class="song-image" ></td>
            <td>{{ item.name }}</td>
            <td>{{ item.genre }}</td>
            <td>{{ item.price }}€</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>Total: {{ total }}€</td>
            <td><a href="{% url 'checkout_complete' %}" class="btn btn-secondary">Pagar</a></td>
            <td><a href="{% url 'empty_cart' %}" class="btn btn-secondary">Cancelar pedido</a></td>
        </tr>
    </table>
{% else %}
    <p>Algo va mal</p>
{% endif %}


{% endblock %}