{% extends "base.html" %}

{% load static %}

{% block title %}Detalles de Playlist{% endblock %}

{% block content %}
   <div class="detalle-playlist">
       
       <div class="info-playlist">
            <img src="{{ playlist.image.url }}" class="cover-image"  alt="imagen playlist">
           <h2>{{ playlist.name }}</h2>
           <p>{{ playlist.genre }} - {{ playlist.price }}€/mes</p>
           <p>Descripción: {{playlist.description}}</p>

           <h1>Canciones:</h1>
           <ul>
               {% for song in songs %}
                   <li > <img src="{{ song.image.url }}" class="song-image"  alt="imagen cancion"> {{ song.title }} - {{ song.artist }} - {{ song.duration }}min </li>
               {% endfor %}
           </ul>
           
       </div>
   </div>
{% endblock %}