{% extends "base.html" %}

{% load static %}

{% block title %}Detalles de Playlist{% endblock %}

{% block content %}
   <div class="detalle-playlist">
       
       <div class="info-playlist">
            <img src="{{ playlist.image.url }}" class="cover-image"  alt="imagen playlist">
           <h2>{{ playlist.name }}</h2>
           <p>{{ playlist.genre }} - {{ playlist.price }}€/mes</p>
           <p>Descripción: {{playlist.description}}</p>
          
                {% for i in stars %}
                    {% if averageRating >= i %}
                        <span class="star">&#9733;</span>
                    {% else %}
                        <span class="star">&#9734;</span>
                    {% endif %}
                {% endfor %}
                <span class="star">| {{averageRating}} / Usuarios: {{ users }} </span>
               

           <h1>Canciones:</h1>
           <ul>
               {% for song in songs %}
                   <li > <img src="{{ song.image.url }}" class="song-image"  alt="imagen cancion"> {{ song.title }} - {{ song.artist }} - {{ song.duration }}min </li>
               {% endfor %}
           </ul>
           
       </div>
   </div>
    {% if user.is_authenticated %}
        <a href="{% url 'create_rating' pk=playlist.pk %}" class="btn btn-secondary">Comentar</a>
    {% endif %}
   {% if ratings %}
   <table class="table table-striped table-hover">
       <tr>
           <th>Nota</th>
           <th>Comentario</th>
       {% for rating in ratings %}
       <tr>
            <td>{{ rating.score }}</td>
            <td>{{ rating.user.username}}</td>
            <td>{{ rating.description }}</td>
            <td>{{ rating.date }}</td>
       </tr>
       {% endfor %}
       </table>
       
{% else %}
       <p>No hay comentarios</p>
{% endif %}

{% endblock %}