<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tecnomarket</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
</head>
<body>
<header id="header">
    <img class="menu" src="{% static 'app/img/menuiconwhite.png' %}" alt="menu"  id="menu">
    <div class="contenedor_logo">
        <img class="logo" src="{% static 'app/img/LogoRitmus.png' %}" alt="logo" >
    </div>
    <div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="contacto.html">Contácto</a>
                </li>
                <li>
                    <a href="library">Galería</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a href="#">Bienvenido {{user.username}}</a>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<div id="contenido">

    {% block content %}
    {% endblock %}

</div>
<footer>
    <footer>
        <div class="marcas">
            <img src="{% static 'app/img/footer/apple.png' %}" alt="apple" style="width: 30px;">
            <img src="{% static 'app/img/footer/lenovo.png' %}" alt="lenovo">
            <img src="{% static 'app/img/footer/microsoft.png' %}" alt="microsoft">
            <img src="{% static 'app/img/footer/samsung.png' %}" alt="samsung">
            <img src="{% static 'app/img/footer/xiaomi.png' %}" alt="xiaomi">
        </div>
        <div class="logo_footer">
            <img src="{% static 'app/img/LogoRitmus.png' %}" alt="logo">
        </div>
    </footer>
</footer>
<script src="{ % 'app/js/menu.js' % }"></script>
</body>
</html>