<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RitmUS</title>
    {% load static %}
    <link rel="icon" href="{% static 'app/img/LogoRitmus.png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...">
</head>
<body>
<header id="header">
    <img class="menu" src="{% static 'app/img/menuiconwhite.png' %}" alt="menu"  id="menu">
    <div class="contenedor_logo">
        <a href = "/"><img class="logo" src="{% static 'app/img/LogoRitmus.png' %}" alt="logo"></a>
    </div>
    <div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
                <li>
                    <a href="/">Tienda</a>
                </li>
                <li>
                    <a href="/library">Biblioteca</a>
                </li>
                {% if user.is_authenticated %}

                    {% if user.is_superuser %}
                        <li>
                            <a href="{% url 'all_sales' %}">Ventas</a>
                        </li>
                        <li>
                            <a href="{% url 'list_incidences' %}">Incidencias</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'all_sales' %}">Mis compras</a>
                        </li>
                        <li>
                            <a href="{% url 'create_incidence' %}">Soporte técnico</a>
                        </li>
                    {% endif %}

                    
                    <li>
                        <div class="dropdown">
                            <span>Bienvenido {{user.username}}</span>
                            <div class="dropdown-content">
                                <a href="{% url 'change_user' %}">Editar perfil</a>
                                <a href="{% url 'logout' %}">Cerrar sesión</a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'custom_login' %}">Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<div id="contenido">
    {% block content %}
    {% endblock %}
</div>
<footer>
    <div class="marcas">
        <span>RitmUS Corporation</span>
        <span>666 66 66 66</span>
        <span>ritmus@gmail.com</span>
        <span>C/Lorem Ipsum 43</span>
    </div>
    <div class="logo_footer">
        <img src="{% static 'app/img/LogoRitmus.png' %}" alt="logo">
    </div>
</footer>
</body>
</html>
