<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RitmUS</title>
    {% load static %}
    <link rel="icon" href="{% static 'app/img/LogoRitmus.png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
</head>
<body>
<header id="header">
    <img class="menu" src="{% static 'app/img/menuiconwhite.png' %}" alt="menu"  id="menu">
    <div class="contenedor_logo">
        <a href = "/"><img class="logo" src="{% static 'app/img/LogoRitmus.png' %}" alt="logo"></a>
    </div>
    <div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/library">Biblioteca</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'list_incidences' %}">Incidencias</a>
                </li>
                <li>
                    <div class="dropdown">
                        <span>Bienvenido {{user.username}}</span>
                        <div class="dropdown-content">
                            <a href="{% url 'change_user' %}">Editar perfil</a>
                            <a href="{% url 'logout' %}">Cerrar sesión</a>
                        </div>
                      </div>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'custom_login' %}">Iniciar sesión</a>
                </li>
                {% endif %}

                
                
            </ul>
        </nav>
    </div>
</header>
<div id="contenido">

    {% block content %}
    {% endblock %}

</div>
<footer>
    <footer>
        <div class="marcas">
            <img src="{% static 'app/img/footer/apple.png' %}" alt="apple" style="width: 30px;">
            <img src="{% static 'app/img/footer/lenovo.png' %}" alt="lenovo">
            <img src="{% static 'app/img/footer/microsoft.png' %}" alt="microsoft">
            <img src="{% static 'app/img/footer/samsung.png' %}" alt="samsung">
            <img src="{% static 'app/img/footer/xiaomi.png' %}" alt="xiaomi">
        </div>
        <div class="logo_footer">
            <img src="{% static 'app/img/LogoRitmus.png' %}" alt="logo">
        </div>
    </footer>
</footer>
</body>
</html>
<script>
function toggleDropdown() {
    var dropdown = document.getElementById("myDropdown");
    dropdown.classList.toggle("show");
}


window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
};
</script>