{% extends "base.html" %}

{% load static %}

{% block title %}Crear incidencia{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h2>Crear incidencia</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="user" value="{{ request.user }}">
                    <button type="reset">Limpiar formulario</button>
                    <button type="submit">Crear incidencia</button>
                </form>
            </div>
        </div>


{% endblock %}
