{% extends "base.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h2>Cambiar la contraseña</h2>
                <form action="{% url 'change_password' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}

                        {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="generic-button">Modificar contraseña</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}