{% extends "base.html" %}

{% load static %}

{% block title %}Registro{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-4 offset-md-4">

                <h2>Registrarse</h2>

                <form action="{% url 'register' %}" method="post">

                    {% csrf_token %}

                    {{ form.as_p }}
                    <a href="{% url 'login' %}">¿Ya tienes una cuenta? Inicia sesión</a>
                    <button type="submit">Registrarse</button>

                </form>

            </div>

        </div>

    </div>

{% endblock %}
